vaccapp/src/main/resources/xsd/broj_vakcina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://tim.robot/broj-vakcina"
           xmlns:brvak="http://tim.robot/broj-vakcina">

    <xs:element name="Broj_vakcina">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Broj" type="xs:int"/>
                <xs:element name="Vakcina" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>